*{
	padding:0;
	margin:0;
	font-family: sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
body{
	width:auto;
}
nav{
	position:fixed;
	width:100%;
	background-color:rgba(0,0,0,0.6);
	height:50px;
	z-index:10;
}
nav ul li,nav li.log{
	display:inline-block;
	line-height:50px;
	margin-right:10px;
	cursor:pointer;
}
nav li.log a,nav ul li a{
	text-decoration:none;
	color:white;
}
nav li.log{
     float:left;
	 font-size: 25px;
     padding-left: 50px;
	 letter-spacing:1px;
}
nav ul{
	float:right;
}
.head-name{
	margin-top: -175px;
	margin-left: 120px;
}
header{
	height:200px;
	background-image:url(../image/banner.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:0 15%;
}
.sidebar_menu{
	cursor:pointer;
}
#banner div.hr{
	background-color:white;
	width:250px;
	margin:0 auto;
}
#banner{
	height:200px;
	background:rgba(0,0,0,0.4);
}
div.inner{
	position:absolute;
	margin:0 auto;
	text-align:center;
	top:50%;
	left:50%;
	margin-left:-250px;
	margin-top:-100px;
	color:white;
}
div.inner h1{
	margin:auto 0;
	line-height:60px;
}
/*音乐部分*/
div.bg_m{
	width:50px;
	height:50px;
}
div.cd{
	background-image:url(../image/cd.png);
	background-size:100%;
	position:fixed;
	width:40px;
	height:40px;
	top:5px;
	left:200px;
	z-index:10;
	cursor:pointer;
	display:block;
}
div.shadow{
	background:rgba(0,0,0,0);
	width:50px;
	height:50px;
	margin-top: -5px;
    margin-left: -5px;
	border-radius:100%;
}
div.shadow:hover{
	background:rgba(0,0,0,0.7);
}
div .bg_music{
	cursor:pointer;
	position:absolute;
	width:220px;
	height:150px;
	margin-top: -150px;
    margin-left: 195px;
	background:rgba(0,0,0,0.7);
}
div.bg_m:hover .bg_music{
	margin-top:50px;
}
div.bg_music li{
	width:100%;
}
div.bg_music li a{
	text-decoration:none;
	padding-left:10px;
}
div.bg_music li:hover{
	background:#444;
	width:100%;
}

#run{
	-webkit-animation:music_disc 0.5s linear infinite;
	    -ms-animation:music_disc 0.5s linear infinite;
	        animation:music_disc 0.5s linear infinite;
}
@-webkit-keyframes music_disc{
	0%{
		-webkit-transform:rotate(0deg);
		    -ms-transform:rotate(0deg);
		        transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
		    -ms-transform:rotate(360deg);
		        transform:rotate(360deg);
	}
}
@-ms-keyframes music_disc{
	0%{
		-webkit-transform:rotate(0deg);
		    -ms-transform:rotate(0deg);
		        transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
		    -ms-transform:rotate(360deg);
		        transform:rotate(360deg);
	}
}
@keyframes music_disc{
	0%{
		-webkit-transform:rotate(0deg);
		    -ms-transform:rotate(0deg);
		        transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
		    -ms-transform:rotate(360deg);
		        transform:rotate(360deg);
	}
}
/*音乐部分结束*/
#back{
	background-image:url(../image/back.png);
	background-size:100%;
    width: 80px;
    height: 80px;
    position: fixed;
	bottom: 20px;
    right: 20px;
	cursor:pointer;
	z-index:10;
	display:none;
}
.hr{
	width:400px;
	height:2px;
	margin:10px auto;
}
/*标题结束*/
/*脚注*/
footer{
	min-height:200px;
	text-align:center;
	margin-top: -150px;
	background-image:url(../image/footer.jpg);
	background-position:50% 85%;
	background-repeat:no-repeat;
	background-size:100%;
}
.share-group{
	display:block;
	margin:0 auto;
	padding:50px;
	background-color:rgba(0,0,0,0.3);
}
.share-group li{
	display:inline-block;
	padding:10px;
}
.share-group img{
	width:20px;
	height:auto;
}
footer .copy{
	height:60px;
	background-color:rgba(145,152,154,0.8);
}
footer .copy p{
	letter-spacing:1px;
	padding-top:20px;
}
/*侧边栏*/
.mask{
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background:rgba(0,0,0,0.6);
	display:none;
}
.sidebar{
     position:fixed;
	 top:0;
	 bottom:0;
     right:-300px;
     width:300px;
     background:#333;
     color:#FFF;
	 padding:20px 0;
	 transition:right 0.3s;
}
.sidebar ul{
	list-style:none;
	padding-top:60px;
	cursor:pointer;
}
.sidebar li a{
	text-decoration:none;
	padding:10px 30px;
	width:100%;
	display:inline-block;
	color:white;
}
.sidebar li a:hover{
	background:#444;
}
/*------------------通用部分结束---------------------*/
.area{
	background-image:url(../image/album.jpg);
	background-size:100%;
	z-index:-5;
	width:100%;
	height:100%;
	
}
#gallery{
    width: 1240px;
	height:1900px;
	margin:0 auto;
}
.box{
	padding:40px 0 0 40px;
	float:left;
}
.pic{
	position:relative;
	padding:10px;
	border:1px solid #ccc;
	border-radius:5px;
	box-shadow:0 0 5px #ccc;
}
.pic img{
	width:180px;
	height:auto;
}